html {
   scroll-behavior: smooth;
   transition: all;
   background-color: $color-background-body;
   overflow-x: hidden;
   @media (prefers-color-scheme: light) {
      background-color: $color-background-body;
   }
   @media (prefers-color-scheme: dark) {
      background: #0d202d;
   }
   @include maedia-tablet {
      overflow-x: hidden;
   }
   @include media-mobile {
      overflow-x: hidden;
   }
}

:root {
   --color-background: $color-background-body;
}
:root[data-color-scheme="dark"] {
   --color-background: #0d202d;
}
body {
   background-color: var(--color-background);
}

body {
   transition: all;
   margin: 0px;
   overflow-x: hidden;
   @include maedia-tablet {
      overflow-x: hidden;
   }
   @include media-mobile {
      overflow-x: hidden;
   }
}
.wrapper {
   max-width: $content-width;
   margin: auto;
   margin-top: 0px;
   padding: 20px 40px 40px;
   box-sizing: border-box;
   @include maedia-tablet {
      max-width: $tablet-width;
   }
   @include media-mobile {
      padding: 20px 16px 40px;
   }
}

h1 {
   @extend %font;
   @include font(72px, normal, 600, 105%);
   color: $color-text-light;
   margin: 0px;
   & span {
      color: $color-text-accent;
      font-style: italic;
   }
   @media screen and (max-width: 500px) {
      @include font(42px, normal, 600, 115%);
   }
   @include media-mobile {
      @include font(42px, normal, 600, 115%);
   }
}

h2 {
   @extend %font;
   @include font(60px, normal, 600, 125%);
   color: $color-text-dark;
   margin: 0px;
   & span {
      color: $color-text-accent;
      font-style: italic;
   }
   @media screen and (max-width: 500px) {
      @include font(32px, normal, 600, 115%);
   }
   @include media-mobile {
      @include font(32px, normal, 600, 125%);
   }
}
